<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>Empleado</title>

    <style>

        body{

        background:#111;

        color:white;

        font-family:Arial;

        padding:60px;

        }

        .card{

        max-width:800px;

        margin:auto;

        background:#222;

        padding:50px;

        border-radius:20px;

        text-align:center;

        }

    </style>

</head>

<body>

<div class="card">

    <h1>

        ✂️ Panel Empleado

    </h1>

    <p>

        Aquí aparecerán las citas del empleado.

    </p>

</div>

<script src="/js/auth.js"></script>

<script>

    proteger(
    "EMPLEADO"
    );

</script>

</body>

</html>