<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Luna Ciega</title>

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

<nav class="navbar">

    <div class="logo">

        🌙 Luna Ciega

    </div>

    <div
            class="menu"

            id="menu"

    >

    </div>

    <div class="usuario">

<span id="nombreUsuario">

Hola

</span>

        <button onclick="logout()">

            Salir

        </button>

    </div>

</nav>

<div class="contenedor">

    <h1>

        Luna Ciega

    </h1>

    <p class="subtitulo">

        Reserva tu cita de barbería y tatuajes

    </p>

    <div class="botones">

        <a
                href="/servicios"
                class="btn btn-principal"
        >

            Reservar ahora

        </a>

    </div>


</div>

<script>

    const u=

    JSON.parse(

    localStorage
    .getItem(
    "usuario"
    )

    );

    if(u){

    document
    .getElementById(
    "nombreUsuario"
    )

    .innerHTML=

    `Hola ${u.nombre}`;

    let menu="";

    menu+=`

    <a href="/">

    Inicio

    </a>

    `;

    menu+=`

    <a href="/calendario">

    Calendario

    </a>

    `;

    menu+=`

    <a href="#">

    Quiénes somos

    </a>

    `;

    if(
    u.rol==="CLIENTE"
    ){

    menu+=`

    <a href="/mis-citas">

    Mis citas

    </a>

    `;

    }

    if(
    u.rol==="EMPLEADO"
    ){

    menu+=`

    <a href="/empleado">

    Panel empleado

    </a>

    `;

    }

    if(
    u.rol==="ADMIN"
    ){

    menu+=`

    <a href="/admin">

    Administrador

    </a>

    `;

    }

    document
    .getElementById(
    "menu"
    )
    .innerHTML=

    menu;

    }

    function logout(){

    localStorage
    .removeItem(
    "usuario"
    );

    window.location=

    "/login";

    }

</script>

</body>

</html>